@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.tituloLogo{
    display: flex;
}

.navegacionPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
    border-bottom: 0.1rem solid #000;
}

.enlacesCarrito{
    display: flex;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
}
.logo{
    height: 3rem;
    margin: 2rem;
}

.tituloPrincipal{
    margin-top: 2.7rem;
}

.claseActiva {
    color: orangered;
}
.claseInactiva{
    color:darkblue;
}

.enlaceInicioContacto{
    color: darkblue;
}


