.estilosContador {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 10%;
    height: auto;
    background: #5b6163;
    color: black;
    margin: 10px auto;
    padding: 10px;
}

.contenedorControles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: white;
    width: 90%;
    
}

.botonControl {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    background: #696ad1;
}

button:hover{
    cursor: pointer;
}

.botonAgregar {
    padding: 10px;
    border-radius: 5px;
    background: #696ad1;
    color: white;
    width: 100%;
    margin: 10px 0;
}
